.idea/
__pycache__/
*/__pycache__/
filelists/CUB/CUB_200_2011.tgz
filelists/CUB/CUB_200_2011/
filelists/CUB/*.json
filelists/miniImagenet/ILSVRC2015_CLS-LOC.tar.gz
filelists/miniImagenet/ILSVRC2015_CLS-LOC/
filelists/miniImagenet/*.csv
filelists/miniImagenet/*.json
filelists/emnist/emnist.zip
filelists/emnist/emnist/
filelists/emnist/*.json
filelists/omniglot/images_background/
filelists/omniglot/images_evaluation/
filelists/omniglot/*.txt
filelists/omniglot/*.zip
filelists/omniglot/*.json